.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 50vh;
}

.contact-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: #333;
}

.contact-container p {
    margin-top: -.5rem;
    font-size: 1.2rem;
    color: #555;
    font-weight: 100;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;
}

.contact-wp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 12px;
    padding: .5rem .75rem;
    background-color: #3ab246;
    color: white;
    font-size: 1.5rem;
    gap: .5rem;
    transition: all 0.3s ease-in-out;
}

.contact-ig {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: .5rem .75rem;
    color: #555555;
    font-weight: 100;
    font-size: 1rem;
    gap: .25rem;
    transition: all 0.3s ease-in-out;
}

.contact-wp:hover, .contact-ig:hover {
    transform: scale(1.05);
}

.wp-icon-c {
    font-size: 1.8rem;
}