.footer {
    height: 120px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.footer-innertext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-innertext p {
    color: #5E5E5E;
    font-size: 1.2rem;
    font-weight: 500;
}

#footer-span {
    margin-top: -1.5rem;
    font-size: .75rem;
}

.footer-divider {
    width: 1px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.155);
    border-radius: 12px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    font-size: 1rem;
    color: white;
    font-weight: 200;
}

.footer-wp {
    color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: .9rem;
    font-weight: 200;
    margin-top: -1rem;
}

.wp-icon-f {
    color: green;
    font-size: 1.2rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
}

li {
    list-style: none; 
}

li::before {
    content: "\2022"; 
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -.5rem; 
  }

.footer-link {
    color: rgb(150, 150, 150);
    margin-left: .5rem;
    font-size: .9rem;
    cursor: pointer; 
}