.hero-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.hero-bg {
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: .9;
}

.hero-scrolling {
    background: url("/images/bg2.png") repeat-x;
    background-size: cover;
    height: 950px;
    max-width: 2100px;
    z-index: -1;
    filter: contrast(0.75) brightness(0.95);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.hero-texts {
    display: flex;
    padding: 0 2rem 2rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.hero-title {
    font-size: 4rem;
    color: #5E5E5E;
    text-shadow: 2px 1px 4px rgba(255, 255, 255, 0.367);
}

.hero-subtitle {
    margin-top: -4rem;
    font-size: 1.5rem;
    color: #6568B9;
    text-shadow: 2px 1px 4px rgba(255, 255, 255, 0.266);
}

@media only screen and (max-width: 899px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .hero-img {
        width: 240px;
        height: 200px;
        margin-top: -3rem;
        margin-bottom: -4rem;
    }
    
    .hero-title {
        font-size: 3.5rem;
    }
    
    .hero-subtitle {
        margin-top: -4rem;
        font-size: 1.5rem;
    }
    
}