.links-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 330px;
}

.links-logo {
    margin-top: 4rem;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.39));
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    width: 100%;
    min-width: 330px;
    height: 100vh;
    margin-top: 4rem;
}

.link-l {
    background-color: #333;
    padding: .75rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: .25rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    border: 2px solid transparent;
}

.link-l:hover {
    transform: scale(1.05);
    border: 2px solid #ffffff;
}

.wp-icon-l {
    font-size: 1.5rem;
}

.hero-bg-l {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .9;
}

.hero-scrolling-l {
    background: url("/images/bgn.jpg") repeat-x;
    height: 100vh;
    width: 2100px;
    z-index: -1;
    filter: contrast(0.65) brightness(0.85);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links-sub {
    color: white;
    margin-bottom: -1.5rem;
    margin-top: 0;
    font-size: 1.2rem;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.39));
}

.links-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(150, 150, 150);
        font-weight: 100;
        font-size: .8rem;
        text-align: center;
        background-color: #333;
        height: 60px;

}

@media only screen and (max-width:899px) {

    
    .link-l {
        font-size: 1rem;
    }
    
    .wp-icon-l {
        font-size: 1.4rem;
    }
    
    .links-sub {
        color: white;
        margin-bottom: -2rem;
        font-size: 1rem;
    }
    
    .links-footer {
            font-size: .7rem;
    
    }
    
}

