.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    width: 100vw;
    z-index: 1;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    transition: all 0.3s ease-in-out;
}

.navbar-bg {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    width: 100vw;
    z-index: 1;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.minilogo {
    margin-left: 3rem;
}

.minilogo-bg {
    margin-left: 3rem;
    filter: brightness(0) saturate(100%);

}

.nav-links {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    color: white;
}

.nav-links-bg {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    color: #333;
}

.nav-link {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    font-weight: 300;
}

.nav-link:hover {
    color: #6568B9;
}

.social-media {
    display: flex;
    gap: .5rem;
    margin-right: 2rem;
    color: white;
    transition: all 0.3s ease-in-out;
}

.social-media-bg {
    display: flex;
    gap: .5rem;
    margin-right: 2rem;
    color: #333;
}

.wp-icon,.ig-icon {
    font-size: 1.35rem;
}

.wp-icon {
    font-size: 1.48rem;
}

.wp-icon:hover, .ig-icon:hover {
    color: #6568B9;
    transform: scale(1.05);
}

@media only screen and (max-width:899px) {
    .navbar, .navbar-bg {
        height: 60px;
        align-items: center;
        justify-content: space-between;
    }

    .minilogo, .minilogo-bg {
        width: 60px;
        height: 50px;
    }

    .ig-icon {
        font-size: 1rem;
    }

    .wp-icon {
        font-size: 1.2rem;
    }
    
    .nav-links, .nav-links-bg {
        display: flex;
        gap: 1.2rem;
        margin-right: 0rem;
    }
    
    .nav-link {
        font-size: .8rem;
    }
}
